# Advent of Code 2021 Day 3
## Part 1
First, read in the input file. Let's work with a smaller subset of input from `input_10.txt`.

In [38]:
import collections

INPUT = "input_10.txt"
with open(INPUT) as file:
    lines = file.readlines()
# Strip away the line endings
binary_numbers = list(map(lambda k: k.strip(), lines))
binary_numbers

['010011001001',
 '110101011110',
 '111111000101',
 '100111111001',
 '000000011111',
 '111100100111',
 '011111100000',
 '001001011100',
 '101100111011',
 '010001010100']

In [39]:
binary_array = list(map(lambda m: list(m), binary_numbers))
binary_array

[['0', '1', '0', '0', '1', '1', '0', '0', '1', '0', '0', '1'],
 ['1', '1', '0', '1', '0', '1', '0', '1', '1', '1', '1', '0'],
 ['1', '1', '1', '1', '1', '1', '0', '0', '0', '1', '0', '1'],
 ['1', '0', '0', '1', '1', '1', '1', '1', '1', '0', '0', '1'],
 ['0', '0', '0', '0', '0', '0', '0', '1', '1', '1', '1', '1'],
 ['1', '1', '1', '1', '0', '0', '1', '0', '0', '1', '1', '1'],
 ['0', '1', '1', '1', '1', '1', '1', '0', '0', '0', '0', '0'],
 ['0', '0', '1', '0', '0', '1', '0', '1', '1', '1', '0', '0'],
 ['1', '0', '1', '1', '0', '0', '1', '1', '1', '0', '1', '1'],
 ['0', '1', '0', '0', '0', '1', '0', '1', '0', '1', '0', '0']]

In [5]:
import pandas as pd
import numpy as np

In [40]:
n_col = len(binary_array[0])
assert np.array(binary_array).shape[1] == n_col

In [41]:
columns = ["c" + str(i+1) for i in range(n_col)]
columns

['c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10', 'c11', 'c12']

Constructing DataFrame from the `binary_array` above with column headers.

In [42]:
df = pd.DataFrame(np.array(binary_array), columns=columns)
#df.head(10)
df

  c1 c2 c3 c4 c5 c6 c7 c8 c9 c10 c11 c12
0  0  1  0  0  1  1  0  0  1   0   0   1
1  1  1  0  1  0  1  0  1  1   1   1   0
2  1  1  1  1  1  1  0  0  0   1   0   1
3  1  0  0  1  1  1  1  1  1   0   0   1
4  0  0  0  0  0  0  0  1  1   1   1   1
5  1  1  1  1  0  0  1  0  0   1   1   1
6  0  1  1  1  1  1  1  0  0   0   0   0
7  0  0  1  0  0  1  0  1  1   1   0   0
8  1  0  1  1  0  0  1  1  1   0   1   1
9  0  1  0  0  0  1  0  1  0   1   0   0

In [43]:
df.shape

(10, 12)

In [44]:
df.describe()

        c1  c2  c3  c4  c5  c6  c7  c8  c9 c10 c11 c12
count   10  10  10  10  10  10  10  10  10  10  10  10
unique   2   2   2   2   2   2   2   2   2   2   2   2
top      0   1   0   1   0   1   0   1   1   1   0   1
freq     5   6   5   6   6   7   6   6   6   6   6   6

In [45]:
mode = df.mode()
mode

  c1   c2 c3   c4   c5   c6   c7   c8   c9  c10  c11  c12
0  0    1  0    1    0    1    0    1    1    1    0    1
1  1  NaN  1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

In [46]:
type(mode)

pandas.core.frame.DataFrame

In [47]:
mode.shape

(2, 12)

In [53]:
top = mode.to_numpy()
result = []
for i in range(top.shape[1]):
    result.append(top[1][i] if top[1][i] == '1' else top[0][i])

result

['1', '1', '1', '1', '0', '1', '0', '1', '1', '1', '0', '1']

In [54]:
np.array(result)

array(['1', '1', '1', '1', '0', '1', '0', '1', '1', '1', '0', '1'],
      dtype='<U1')

In [13]:
gamma_array = mode.to_numpy()[0]
print(f"Gamma shape: {gamma_array.shape}; size: {gamma_array.size}")
type(gamma_array)

Gamma shape: (5,); size: 5

numpy.ndarray

In [14]:
gamma_array

array(['1', '0', '1', '1', '0'], dtype=object)

In [17]:
gamma_str = "".join(map(str, gamma_array))
gamma_str

'10110'

In [18]:
gamma = int(gamma_str, 2)
gamma

22

In [30]:
from collections import Counter

def flip(x):
    if int(x) == 0:
        return 1
    elif int(x) == 1:
        return 0
    return 0

epsilon_array1 = [flip(i) for i in gamma_array]
print(epsilon_array1)

epsilon_array = list(map(lambda d: '1' if d == '0' else '0', gamma_array))
print(epsilon_array)

epsilon_str = "".join(epsilon_array)
epsilon_str

[0, 1, 0, 0, 1]
['0', '1', '0', '0', '1']

'01001'

In [22]:
epsilon = int(epsilon_str, 2)
epsilon

9

In [23]:
gamma * epsilon

198

## Part 2

In [37]:
q_result = df.query('c1 == ["0"] and c2 == ["0"]')
print(f"Result type: {type(q_result)}\nshape: {q_result.shape}\n{q_result}")
q_result.size

Result type: <class 'pandas.core.frame.DataFrame'>
shape: (3, 5)
   c1 c2 c3 c4 c5
0   0  0  1  0  0
6   0  0  1  1  1
10  0  0  0  1  0

15

In [25]:
query_str = ""
for i in range(gamma_array.size):
    this_query = f"c{i+1} == ['{gamma_array[i]}']"
    if i > 0:
        query_str += " and "
    query_str += this_query
    print(f"Querying: {query_str}")
    print(df.query(query_str))

Querying: c1 == ['1']
  c1 c2 c3 c4 c5
1  1  1  1  1  0
2  1  0  1  1  0
3  1  0  1  1  1
4  1  0  1  0  1
7  1  1  1  0  0
8  1  0  0  0  0
9  1  1  0  0  1
Querying: c1 == ['1'] and c2 == ['0']
  c1 c2 c3 c4 c5
2  1  0  1  1  0
3  1  0  1  1  1
4  1  0  1  0  1
8  1  0  0  0  0
Querying: c1 == ['1'] and c2 == ['0'] and c3 == ['1']
  c1 c2 c3 c4 c5
2  1  0  1  1  0
3  1  0  1  1  1
4  1  0  1  0  1
Querying: c1 == ['1'] and c2 == ['0'] and c3 == ['1'] and c4 == ['1']
  c1 c2 c3 c4 c5
2  1  0  1  1  0
3  1  0  1  1  1
Querying: c1 == ['1'] and c2 == ['0'] and c3 == ['1'] and c4 == ['1'] and c5 == ['0']
  c1 c2 c3 c4 c5
2  1  0  1  1  0

In [26]:
oxygen = df.iloc[589].to_numpy()
type(oxygen)

IndexError: single positional indexer is out-of-bounds

In [ ]:
o_str = "".join(oxygen)
oxygen_generator_rating = int(o_str, 2)
print(f"Oxygen generator rating of {o_str} in decimal is {oxygen_generator_rating}")

Now do the opposite to find the CO2 scrubber rating using the epsilon array.

In [ ]:
query_str = ""
for i in range(len(epsilon_array)):
    this_query = f"c{i+1} == ['{epsilon_array[i]}']"
    if i > 0:
        query_str += " and "
    query_str += this_query
    print(f"Querying: {query_str}")
    print(df.query(query_str))

In [ ]:
co2_str = "".join(df.iloc[551].to_numpy())
co2_str
co2_scrubber_rating = int(co2_str, 2)
print(f"CO2 generator rating of {co2_str} in decimal is {co2_scrubber_rating}")

In [ ]:
oxygen_generator_rating * co2_scrubber_rating