# Advent of Code 2021 Day 3 Part 1
First, read in the input file. Let's work with a smaller subset of input from `input_10.txt`.

In [5]:
INPUT = "input_10.txt"
with open(INPUT) as file:
    lines = file.readlines()
# Strip away the line endings
binary_numbers = list(map(lambda k: k.strip(), lines))
binary_numbers

['010011001001',
 '110101011110',
 '111111000101',
 '100111111001',
 '000000011111',
 '111100100111',
 '011111100000',
 '001001011100',
 '101100111011',
 '010001010100']

In [7]:
list('010011001001')

['0', '1', '0', '0', '1', '1', '0', '0', '1', '0', '0', '1']

In [8]:
binary_array = list(map(lambda m: list(m), binary_numbers))
binary_array

[['0', '1', '0', '0', '1', '1', '0', '0', '1', '0', '0', '1'],
 ['1', '1', '0', '1', '0', '1', '0', '1', '1', '1', '1', '0'],
 ['1', '1', '1', '1', '1', '1', '0', '0', '0', '1', '0', '1'],
 ['1', '0', '0', '1', '1', '1', '1', '1', '1', '0', '0', '1'],
 ['0', '0', '0', '0', '0', '0', '0', '1', '1', '1', '1', '1'],
 ['1', '1', '1', '1', '0', '0', '1', '0', '0', '1', '1', '1'],
 ['0', '1', '1', '1', '1', '1', '1', '0', '0', '0', '0', '0'],
 ['0', '0', '1', '0', '0', '1', '0', '1', '1', '1', '0', '0'],
 ['1', '0', '1', '1', '0', '0', '1', '1', '1', '0', '1', '1'],
 ['0', '1', '0', '0', '0', '1', '0', '1', '0', '1', '0', '0']]

In [11]:
n_col = len(binary_array[0])
n_col

12

In [12]:
columns = ["c" + str(i+1) for i in range(n_col)]
columns

['c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10', 'c11', 'c12']

In [13]:
import pandas as pd
import numpy as np

Constructing DataFrame from the `binary_array` above with column headers.

In [20]:
df = pd.DataFrame(np.array(binary_array), columns=columns)
df.head(10)

  c1 c2 c3 c4 c5 c6 c7 c8 c9 c10 c11 c12
0  0  1  0  0  1  1  0  0  1   0   0   1
1  1  1  0  1  0  1  0  1  1   1   1   0
2  1  1  1  1  1  1  0  0  0   1   0   1
3  1  0  0  1  1  1  1  1  1   0   0   1
4  0  0  0  0  0  0  0  1  1   1   1   1
5  1  1  1  1  0  0  1  0  0   1   1   1
6  0  1  1  1  1  1  1  0  0   0   0   0
7  0  0  1  0  0  1  0  1  1   1   0   0
8  1  0  1  1  0  0  1  1  1   0   1   1
9  0  1  0  0  0  1  0  1  0   1   0   0

In [15]:
df.shape

(10, 12)

In [18]:
df.describe()

        c1  c2  c3  c4  c5  c6  c7  c8  c9 c10 c11 c12
count   10  10  10  10  10  10  10  10  10  10  10  10
unique   2   2   2   2   2   2   2   2   2   2   2   2
top      0   1   0   1   0   1   0   1   1   1   0   1
freq     5   6   5   6   6   7   6   6   6   6   6   6

In [28]:
mode = df.mode()
mode

  c1   c2 c3   c4   c5   c6   c7   c8   c9  c10  c11  c12
0  0    1  0    1    0    1    0    1    1    1    0    1
1  1  NaN  1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

In [27]:
gamma_array = mode.to_numpy()[0]
gamma_array

array(['0', '1', '0', '1', '0', '1', '0', '1', '1', '1', '0', '1'],
      dtype=object)

In [32]:
type(gamma_array)

numpy.ndarray

In [49]:
type(gamma_array[0])

str

In [51]:
for n in gamma_array:
    if int(n) == 1:
        print(n, 0)
    elif int(n) == 0:
        print(n, 1)

0 1
1 0
0 1
1 0
0 1
1 0
0 1
1 0
1 0
1 0
0 1
1 0

In [35]:
gamma_str = "".join(map(str, gamma_array))
gamma_str

'010101011101'

In [37]:
gamma = int(gamma_str, 2)
gamma

1373

In [52]:
def flip(x):
    if int(x) == 0:
        return 1
    elif int(x) == 1:
        return 0
    return 0

epsilon_array = [flip(i) for i in gamma_array]
epsilon_array

[1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0]

In [54]:
epsilon_array = list(map(lambda d: '1' if d == '0' else '0', gamma_array))
epsilon_str = "".join(epsilon_array)
epsilon_str

'101010100010'

In [55]:
epsilon = int(epsilon_str, 2)
epsilon

2722

In [56]:
gamma * epsilon

3737306